<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovo.j163mybatis.mapper.LockMapper">

	<resultMap id="lockRM" type="lockBean">
		<id property="id" column="lock_id"/>
		<result property="type" column="f_type"/>
		<!-- 处理"有一个"的问题 -->
		<association property="homeBean" javaType="homeBean" column="fk_home_id" select="getHomeByHomeID"/>
		<!-- 处理"有多个"的问题 -->
		<collection property="keyBeanList" column="lock_id" select="getKeyListByLockId"/>
	</resultMap>
	
	<resultMap id="homeRM" type="homeBean">
		<id property="id" column="home_id"/>
		<result property="address" column="f_address"/>
	</resultMap>
	
	<resultMap id="keyRM" type="keyBean">
		<id property="id" column="key_id"/>
		<result property="owner" column="f_owner"/>
	</resultMap>
	
	
	<select id="getLockById" resultMap="lockRM">
		select * from t_lock where lock_id=#{lockId}
	</select>
	
	<select id="getHomeByHomeID" resultMap="homeRM">
		select * from t_home where home_id=#{homeId}
	</select>
	
	<select id="getKeyListByLockId" resultMap="keyRM">
		select * from t_key where fk_lock_id=#{lockId}
	</select>
</mapper>