<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovo.j163mybatis.mapper.UserMapper">
	
	<!-- 配置映射关系（表中的列与JAVABEAN属性的映射） -->
	<resultMap id="userRM" type="userBean">
		<id property="id" column="pk_id"/>	
		<result property="username" column="f_username"/>
		<result property="password" column="f_password"/>
		<result property="account" column="f_account"/>
	</resultMap>

<!-- 	<insert id="addUser" parameterType="com.lovo.j163mybatis.bean.UserBean"> -->
<!-- 	<insert id="addUser" parameterType="user"> -->
    <insert id="addUser" parameterType="userBean">
		insert into t_163_user values (null, #{username}, #{password}, #{account})
	</insert>
	
	<delete id="deleteUserById" parameterType="int">
		delete from t_163_user where pk_id=#{userId}
	</delete>
	
	<update id="updateUserNameById">
		update t_163_user set f_username=#{param1} where pk_id=#{param2}
	</update>
	
	<update id="updateUserNameAndPwdByCondition" parameterType="map">
		update t_163_user 
<!-- 		<set> -->
<!-- 		<if test="username != null"> -->
<!-- 			f_username=#{username}, -->
<!-- 		</if> -->
<!-- 		<if test="pwd != null"> -->
<!-- 			f_password=#{pwd}, -->
<!-- 		</if> -->
<!-- 		</set>  -->
		<trim prefix="set" suffixOverrides=",">
			<if test="username != null">
				f_username=#{username},
			</if>
			<if test="pwd != null">
				f_password=#{pwd},
			</if>
		</trim>
		where pk_id=#{userId}
	</update>p
	
	<select id="getAllUsers" resultMap="userRM">
		select * from t_163_user
	</select>
	
	<!-- <select id="getUserById" parameterType="int" resultMap="userRM">
		select * from t_j163_user where pk_id=#{userId}
	</select> -->
	
	<!-- 自动映射（不推荐使用） -->
	<select id="getUserById" parameterType="int" resultType="userBean">
		select 
			pk_id id,
			f_username username,
			f_password password,
			f_account account
		 from t_163_user where pk_id=#{userId}
	</select>
	
	<select id="getAllUsersByCondition" parameterType="map" resultMap="userRM">
		select * from t_163_user where f_username = #{username} and f_account = #{account}
	</select>
	
	<select id="getAllUsersByName" parameterType="string" resultMap="userRM">
		select * from t_163_user where f_username like "%"#{name}"%"
	</select>
	<select id="getUserListByCondition" parameterType="map" resultMap="userRM">
		select * from t_163_user
<!-- 		 <where> -->
<!-- 			<if test="username != null"> -->
<!-- 				and f_username = #{username} -->
<!-- 			</if> -->
<!-- 			<if test="password != null"> -->
<!-- 				and f_password = #{password} -->
<!-- 			</if> -->
<!-- 		</where> -->
		<trim prefix="where" prefixOverrides="and |or">
			<if test="username != null"> 
				and f_username = #{username}
			</if>
			<if test="password != null">
				and f_password = #{password}
			</if>
		</trim>
	</select>
	<select id="getUserListByChooseWhen" parameterType="userBean" resultMap="userRM">
		select * from t_163_user
		<choose>
			<when test="account > 2">
				where f_username = "王五"
			</when>
			<when test="account == 2">
				where f_account = #{account}
			</when>
			<otherwise>
				where f_password = '123456'
			</otherwise>
		</choose>
	</select>
	
	<select id="getUserListByIdList" parameterType="list" resultMap="userRM">
		select * from t_163_user where pk_id in
		<foreach collection="list" item="id" separator="," open="(" close=")">
			#{id}
		</foreach>
	</select>
	
</mapper>